<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.XPXConnectionString" connectionString="Data Source=USER;Initial Catalog=XPX;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.XPXConnectionString1" connectionString="Data Source=USER-PC;Initial Catalog=XPX;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.XPXConnectionString2" connectionString="Data Source=EUROBANGLA-PC;Initial Catalog=XPX;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>